[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
django = "*"
python-decouple = "*"
dj-database-url = "*"
coverage = "*"
"psycopg2" = "*"
coveralls = "*"
djangorestframework = "*"
pillow = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
sendgrid = "*"
django-cors-headers = "*"
django-pipeline = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.6"
